*{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    font-size: 4rem;

}

.currentCity{
    width: 77.5vw
}

.card{
    width: 20vw
}

.currentCity{
    border: solid, black; 
}

.fiveDay{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 160px;
}

p{
    margin: 1rem;
}

.forecast{
    padding: 1rem;
}

.mainCity{
    font-size: 3rem;
}

.link{
    margin:.5rem;
}